<!DOCTYPE html>
<html>
<head>
  <style>

      body {
          font-family: 'Arial', sans-serif;
          background-color: #f5f5f5;
          color: #333333;
          margin: 0;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      h1 {
          font-size: 36px;
          color: #333333;
          margin-bottom: 20px;
      }

      h2 {
          font-size: 28px;
          margin-bottom: 15px;
          padding-bottom: 5px;
      }

      ul {
          list-style: none;
          padding: 0;
          width: 100%;
          max-width: 600px;
      }

      li {
          background-color: #ffffff;
          margin: 10px 0;
          padding: 15px;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease;
      }

      li:hover {
          transform: translateY(-5px);
      }

      a {
          text-decoration: none;
          color: #0078d4;
          font-weight: bold;
          transition: color 0.3s ease;
      }

      a:hover {
          color: #0056b3;
      }

      #inicio a {
          display: inline-block;
          padding: 10px 20px;
          background-color: #0078d4;
          color: white;
          text-decoration: none;
          border-radius: 5px;
          margin-top: 20px;
          transition: background-color 0.3s ease;
      }

      #inicio a:hover {
          background-color: #0056b3;
      }

  </style>
  <title>Resultado de la Búsqueda</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Resultados para "<%= searchTerm %>"</h1>

  <!-- Generamos links a partir de los IDs (person o movie) que nos llevan a la página de la película, el actor o el director-->
  <% if (type === 'movie' && results.length > 0) { %>
    <h2>Películas</h2>
    <ul>
      <% results.forEach(movie => { %>
        <!-- Hay que aclarar que id = movie_id , name = title (esto lo define cuando hace la query a la hora de buscar) -->
        <!-- Este es un link que busca por el Pelicula-->
        <li><a href="/pelicula/<%= movie.id %>"><%= movie.name %></a></li>
      <% }) %>
    </ul>
  <% } else if (type === 'actor' && results.length > 0) { %>
    <h2>Actores</h2>
    <ul>
      <!-- Hay que aclarar que id = person_id , name = person_name (esto lo define cuando hace la query a la hora de buscar) -->
      <!-- Este es un link que busca por el Actor-->
      <% results.forEach(actor => { %>
        <li><a href="/actor/<%= actor.id %>"><%= actor.name %></a></li>
      <% }) %>
    </ul>
  <% } else if (type === 'director' && results.length > 0) { %>
    <h2>Directores</h2>
    <ul>
      <% results.forEach(director => { %>
        <!-- Hay que aclarar que id = person_id , name = person_name (esto lo define cuando hace la query a la hora de buscar) -->
        <!-- Este es un link que busca por el director-->
        <li><a href="/director/<%= director.id %>"><%= director.name %></a></li>
      <% }) %>
    </ul>
  <% } else if (type === 'keyword' && results.length > 0) { %> <!-- agrego buscador por keyword que busca mis peliculas con esa keyword -->
      <h2>Películas</h2>
      <ul>
          <% results.forEach(movie => { %>
              <!-- Hay que aclarar que id = movie_id , name = title (esto lo define cuando hace la query a la hora de buscar) -->
              <!-- Este es un link que busca por el Pelicula-->
              <li><a href="/pelicula/<%= movie.id %>"><%= movie.name %></a></li>
          <% }) %>
      </ul>
  <% }

  else { %>
    <p>No se encontraron resultados.</p>
  <% } %>

  <div id="inicio"><a href="/">Inicio</a></div>
</body>
</html>